.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio_items{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio_items:hover{
    border: 1px solid var(--color-primary);
    background: transparent;
  
}
.tech{
    opacity:0;
}

.portfolio_items_image{

    border-radius: 1.5rem;
    overflow: hidden;

}
portfolio_items h3{
    margin: 1.2rem 0 2rem;

}
.portfolio_items_image img{
    width: 302px;
    height: 201px;
}
.portfolio_items_image img:hover .tech{
    opacity:0.5;
    background-color: var(--color-primary);
}
.cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

}
/* =====Media Queries (Medium devices)====*/
@media screen and (max-width: 1024px) {
   .portfolio_container{
    grid-template-columns: 1fr;
    gap: 1rem;
   }
 }
 
 /* =====Media Queries (Small devices)====*/
 @media screen and (max-width: 600px) {
 
 }